.footer {
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    text-align: center;
    padding: 1rem 0;
    position: relative;
}

.footer .footer-border {
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    position: absolute;
    top: 0;
    left: 0;
}
