#showcase-card {
    background-color: var(--quaternary-color) !important;
}

#dark-background {
    background-color: var(--primary-color) !important;
}

#braker-row {
    background-color: var(--accent-color) !important;
}