.custom-tabs .nav-link {
  color: #363636 !important;
  background-color: #F8F9FA !important;
  border-color: var(--main-orange-color) !important;
  border-bottom: 2px solid transparent;
  margin-right: 0.2rem;
}

.custom-tabs .nav-link.active {
  color: #000000 !important;
  background-color: var(--main-orange-color) !important;
  border-color: #f3b704;
}

.custom-margin {
  margin-right: 0.5rem;
}

.custom-bg {
  background-color: #F8F9FA !important;
  width: 20rem;
}

.custom-container {
  min-width: 85vw !important;
}

.custom-line {
  height: 1.5px;
  background-color: var(--main-orange-color);
  min-width: 85vw !important; 
}